<header class="grid grid-cols-[25vw,1fr,25vw] grid-rows-2 items-center gap-2 h-full p-2
               sm:grid-rows-1">

  <div class="col-start-1 col-end-3 h-full flex items-center gap-3 relative
             sm:col-end-1">

    <div class="rounded-full px-2 py-3 flex items-center justify-center border-2 border-opacity-50 border-white">
      <img ngSrc="assets/images/logo/tailwind-logo.svg" alt="" width="32" height="32">
    </div>
    <fa-icon [icon]="faSearch" class="absolute left-18 text-white text-opacity-50"/>
    <input type="text" placeholder="Search" class="border-none">
  </div>

  <nav class="row-start-2 col-span-full h-full
              sm:row-start-1 sm:col-start-2 sm:col-end-2">

    <ul class="flex justify-around h-full items-center bg-primary bg-opacity-50 rounded-lg">
      <li *ngFor="let item of nav"
          class="w-full h-full active:translate-y-0.5">

        <a [routerLink]="item.navigateTo" routerLinkActive="bg-white bg-opacity-10"
           class="w-full h-full text-white text-opacity-50 flex items-center justify-center transition-all ease-in-out duration-500 rounded-lg
                  hover:bg-white hover:bg-opacity-50 hover:text-white hover:rounded-lg">

          <fa-icon [icon]="item.icon" class="text-xl"/>
        </a>
      </li>
    </ul>
  </nav>

  <div class="col-start-3 h-full flex items-center justify-end text-white text-opacity-50">
    <div class="flex gap-5 items-center rounded-lg bg-primary pl-3.5">
      <fa-icon [icon]="faGear" class="text-3xl cursor-pointer active:translate-y-0.5"/>

      <div class="hidden lg:block mr-5 leading-4">
        <p class="font-extrabold">@DiwaCode</p>
        <p class="font-light italic text-sm">connected</p>
      </div>

      <div
        class="rounded-full border-2 border-white border-opacity-50 w-11 h-11 flex items-center justify-center bg-secondary overflow-hidden">
        <img ngSrc="https://randomuser.me/api/portraits/men/1.jpg" alt="profile picture" width="200" height="200">
      </div>
    </div>
  </div>
</header>
