<header class="grid grid-cols-[25vw,1fr,25vw] grid-rows-2 items-center gap-2 h-full p-2
               sm:grid-rows-1">

  <div class="col-start-1 col-end-3 h-full flex items-center gap-3 relative
              sm:col-end-1">

    <div class="rounded-full px-2 py-3 flex items-center justify-center border-2 border-opacity-50 border-white">
      <img ngSrc="assets/images/logo/tailwind-logo.svg" alt="" width="32" height="32">
    </div>

    <fa-icon [icon]="faSearch" class="absolute left-18 text-white text-opacity-50"/>

    <input type="text" placeholder="Search" class="border-none">

  </div>

  <nav class="bg-green-400 row-start-2 col-span-full h-full
              sm:row-start-1 sm:col-start-2 sm:col-end-2">

    <ul *ngFor="let item of nav">
      <li>
        <a [routerLink]="item.navigateTo">
          <fa-icon [icon]="item.icon"/>
        </a>
      </li>
    </ul>

  </nav>

  <div class="bg-red-400 col-start-3 h-full">
    3
  </div>

</header>
