<aside class="h-full md:h-fit">
  <div class="z-10 sticky top-0 bg-primary md:border-b-2 md:border-white md:border-opacity-50 md:mb-2.5">
    <h3 class="hidden md:block text-base font-extrabold text-special-blue pb-1 text-center">
      {{ 'notifications' | titlecase }}
    </h3>
  </div>

  <button class="md:hidden bg-secondary bg-opacity-20 w-full h-full active:translate-y-0.5 text-2xl text-special-blue font-semibold
                 hover:bg-opacity-50 rounded-lg">
    {{ 'notifications' | uppercase }}
    <span>
        <fa-icon [icon]="faCircleExclamation" class="text-special-blue pl-2"/>
    </span>
  </button>

  <ul class="hidden flex-col h-full w-full items-center gap-3.5 scrollbar-hide
             md:flex md:gap-2.5 md:flex-col md:items-baseline md:flex-wrap md:h-fit md:bg-none md:bg-opacity-0 md:rounded-none">

    <li *ngFor="let item of fakeNotifications"
        class="w-full rounded-lg relative bg-secondary bg-opacity-20 flex text-white text-opacity-50 transition-all ease-in-out duration-300 cursor-pointer
               hover:text-opacity-100 hover:bg-opacity-80
               md:py-1 md:rounded-lg md:items-center">

      <div class="md:ml-2.5 text-sm">
        <fa-icon [icon]="faCircleExclamation" class="text-special-blue absolute right-2 text-sm"/>
        <p class="font-extrabold">{{ item.firstName | titlecase}} {{ item.lastName | titlecase }}</p>
        <p class="font-light italic">{{ item.notificationText | lowercase}}</p>
      </div>

    </li>
  </ul>
</aside>
