<div class="w-full h-full flex flex-col justify-between">
  <app-page-title title="chat with firstName"/>


  <div class="p-2.5 flex-1 overflow-y-auto scrollbar-hide">


    <div class="flex w-full mt-2 space-x-3 max-w-xs sm:max-w-sm md:max-w-md xl:max-w-xl">
      <app-profile-picture cStyles="w-10 h-10"/>
      <div>
        <div class="bg-secondary p-3 rounded-r-lg rounded-bl-lg">
          <p class="text-sm text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
          </p>
        </div>
        <span class="text-xs text-gray-500 leading-none">2 min ago</span>
      </div>
    </div>


    <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end sm:max-w-sm md:max-w-md xl:max-w-xl">
      <div>
        <div class="bg-special-blue text-white p-3 rounded-l-lg rounded-br-lg">
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
          </p>
        </div>
        <span class="text-xs text-gray-500 leading-none">2 min ago</span>
      </div>
      <app-profile-picture cStyles="w-10 h-10"/>
    </div>


    <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end sm:max-w-sm md:max-w-md xl:max-w-xl">
      <div>
        <div class="bg-special-blue text-white p-3 rounded-l-lg rounded-br-lg">
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
          </p>
        </div>
        <span class="text-xs text-gray-500 leading-none">2 min ago</span>
      </div>
      <app-profile-picture cStyles="w-10 h-10"/>
    </div>


  </div>


  <form class="flex gap-2 pr-2 py-2 sticky bottom-0 border-t-10 border-t-primary">
    <app-absolut-icon [icon]="faMessage" top="top-2.5" left="left-6" color="text-special-blue" class="relative"/>
    <input class="border-none placeholder:italic placeholder:text-sm"
           type="text" placeholder="write message here...">
    <app-main-button text="send" [icon]="faPaperPlane"/>
  </form>
</div>

