<article class="flex flex-col gap-3.5 border-b-10 border-primary py-5 px-5 text-white text-opacity-50">
  <div class="flex gap-2.5 items-center">
    <app-profile-picture [src]="post.profilePicture!" cStyles="w-9 h-9"/>
    <p class="text-base">
      <span class="font-extrabold">{{ post.firstName | titlecase }}</span> {{ post.lastName | titlecase }}
    </p>
  </div>
  <div>
    <div class="rounded-lg bg-primary mx-4 overflow-y-auto scrollbar-hide border-10 border-primary cursor-pointer">
      <p appTruncateContent [maxChars]="200" [postContent]="post.content">{{ post.content }}</p>
    </div>
    <div class="flex mt-3.5 gap-3">
      <div class="bg-primary h-8 px-4 flex items-center rounded-lg ml-4
                  transition-all ease-in-out duration-150
                  xl:px-5">
        <p class="border-r border-white border-opacity-50 pr-3">
          <span>
            <fa-icon [icon]="faComment"/>
          </span>
          {{ post.commentCount }}
        </p>

        <p [ngClass]="post.userHasLiked ? 'text-special-blue hover:text-red-400' : 'text-white text-opacity-50'"
           class="pl-3 cursor-pointer transition-all ease-in-out duration-300
                  hover:-translate-y-0.5
                  active:translate-y-0.5"
           (click)="likeOnClick()"
           (mouseenter)="isLikeHovered = true"
           (mouseleave)="isLikeHovered = false">
          <span>
            <fa-icon [icon]="isLikeHovered && post.userHasLiked ? faCancel : faThumbsUp"/>
          </span>
          {{ post.likeCount }}
        </p>

      </div>
      <div class="flex flex-col gap-3 flex-1">
        <div *ngFor="let item of comment"
             class="flex items-start gap-3">
          <app-profile-picture [src]="item.commentProfilePicture!" cStyles="w-7 h-7 md:w-9 md:h-9"/>
          <div class="rounded-lg bg-primary overflow-y-auto scrollbar-hide cursor-pointer px-2 py-1.5 flex-1 mr-4">
            <p appTruncateContent [maxChars]="25" [postContent]="item.content" class="italic text-sm"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-4 mt-3.5 border-t border-white border-opacity-50 pt-3">
      <app-add-comment-form [postId]="post.id"
      (emitPostCommentOnClick$)="commentOnClick($event)"/>
    </div>
  </div>
</article>
