<app-page-title title="friend profile"/>
<app-backdrop-and-profile-picture [profilePicture]="userData.profilePicture" [backdropImage]="userData.backdropImage"/>
<app-user-profile-data [userData]="userData">
  <div>
    <app-request-friend-button
      [userProfileId]="userData.id"
      [friendRequestStatus]="userData.friendRequestStatus"
      [isFriendRequestInitiator]="userData.isFriendRequestInitiator!"
      (emitRequestFriendButtonClicked$)="updateUserProfile($event)"
    />

    <app-remove-friend-button
      [userProfileId]="userData.id"
      [friendRequestStatus]="userData.friendRequestStatus"
      [isFriendRequestInitiator]="userData.isFriendRequestInitiator!"
      (emitRequestFriendButtonClicked$)="updateUserProfile($event)"
    />

    <ng-container
      *ngIf="userData.isFriendRequestInitiator && userData.friendRequestStatus === FriendStatus.Pending; else isNot">
      <app-friend-request-action-button
        [userProfileId]="userData.id"
        (emitRequestFriendButtonClicked$)="updateUserProfile($event)"/>
    </ng-container>

    <ng-template #isNot>
      <app-cancel-request-friend-button
        [userProfileId]="userData.id"
        [friendRequestStatus]="userData.friendRequestStatus"
        [isFriendRequestInitiator]="userData.isFriendRequestInitiator!"
        (emitRequestFriendButtonClicked$)="updateUserProfile($event)"
      />
    </ng-template>
  </div>
</app-user-profile-data>
<app-user-posts [posts]="posts"/>
<app-get-more-posts [posts]="posts" [userId]="userData.id"
                    (emitNewPostsOnClick$)="addMorePosts($event)"/>
