<div
  class="grid grid-rows-[14vh,7vh,7vh,1fr,4vh] grid-cols-[1fr] h-screen gap-2.5 p-3
         sm:grid-rows-[7vh,7vh,7vh,1fr,4vh] md:grid-cols-[25vw,1fr]
         md:grid-rows-[7vh,1fr,1fr,2fr,4vh]
         lg:grid-rows-[7vh,7vh,1fr,4vh] lg:grid-cols-[20vw,1fr,20vw]
         xl:grid-cols-[15vw,1fr,15vw]">

  <app-header
    class="bg-secondary bg-opacity-20 rounded-lg
           md:col-start-1 col-span-full"/>

  <app-friend-list
    class="rounded-lg overflow-x-auto
           md:col-start-1 md:col-end-1 md:row-start-3 md:row-end-5
           lg:row-start-2 lg:row-end-4"/>

  <main
    class="bg-secondary bg-opacity-20 rounded-lg
           md:row-end-5 md:col-start-2 md:row-start-2
           lg:row-end-4">
    <router-outlet/>
  </main>

  <app-notifications
    class="row-start-3 rounded-lg overflow-x-auto
           md:col-start-1 md:col-end-1 md:row-start-2 md:row-end-3
           lg:col-start-3 lg:col-end-3 lg:row-start-2 lg:row-end-4"/>

  <app-footer
    class="bg-secondary bg-opacity-20 rounded-lg
           md:row-start-5 md:col-span-full lg:row-end-4"/>
</div>
